In [1]:
import pandas as pd

# Step 1: Read the datasets
df_sa = pd.read_csv('SA Data Set/Final_SA.csv')
df_qld = pd.read_csv('QLD Data Set/Final_QLD.csv')
df_nsw = pd.read_csv('NSW Data Set/Final_NSW.csv')
df_wa = pd.read_csv('WA Data Set/Final_WA.csv')
df_vic = pd.read_csv('VIC Data Set/Final_VIC.csv')

# Step 2: Standardize the column names (make all lowercase, remove spaces, and use underscores)
def standardize_columns(df):
    df.columns = df.columns.str.lower().str.replace(' ', '_')
    return df

df_sa = standardize_columns(df_sa)
df_qld = standardize_columns(df_qld)
df_nsw = standardize_columns(df_nsw)
df_wa = standardize_columns(df_wa)
df_vic = standardize_columns(df_vic)

# Step 3: Combine the datasets
combined_df = pd.concat([df_sa, df_qld, df_nsw, df_wa, df_vic], ignore_index=True)

In [2]:
df_sa.shape

(49384, 17)

In [3]:
df_qld.shape

(51518, 16)

In [4]:
df_nsw.shape

(73608, 16)

In [5]:
df_wa.shape

(101166, 16)

In [6]:
df_vic.shape

(46706, 16)

In [7]:
combined_df = combined_df.drop(columns=['geometry'])

In [8]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 322382 entries, 0 to 322381
Data columns (total 16 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   report_id      322382 non-null  object
 1   year           322382 non-null  int64
 2   month          322382 non-null  object
 3   day            322382 non-null  object
 4   time           322382 non-null  object
 5   state          322382 non-null  object
 6   stats_area     322382 non-null  object
 7   lga            322382 non-null  object
 8   latitude       322382 non-null  float64
 9   longitude      322382 non-null  float64
 10  loc_type       322382 non-null  object
 11  light_cond     322382 non-null  object
 12  weather_cond   322382 non-null  object
 13  speed_limit    322382 non-null  float64
 14  csef_severity  322382 non-null  object
 15  location       322382 non-null  object
dtypes: float64(3), int64(1), object(12)
memory usage: 39.4+ MB

In [9]:
# Save the combined dataset
combined_df.to_csv('Road_Crash_Data.csv', index=False)

print("Datasets combined successfully!")

Datasets combined successfully!